@media screen and (max-width: 576px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .lenguajes_fluid {
        height: 60px;
        width: auto;
        padding: 0;
    }
    
    .lenguajes_fluid .lenguajes_container {
        height: 60px;
        width: auto;
        padding: 0;
    }
    
    .lenguajes_fluid .lenguajes_container .card_html {
        width: 160px;
        height: 60px;
    }
}