@import "variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-azul-fondo;
}

// -------------------------
//   TUTULO HTML Y CSS
// -------------------------

.titulo_academia {
    // border: 1px dashed red;
    background-color: $color-azul-fondo;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px;

    .titulo_container {
        // border: 1px dashed blue;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        figure {
            // border: 1px dashed yellow;
            margin: 0;
            padding: 5px;
            height: 3.5rem;
            width: 3.5rem;

            img {
                width: 100%;
            }
        }
        
        div {
            // border: 1px dashed orange;
            margin-left: 20px;

            h1 {
                color: $color-azul-titulo;
                font-family: $fuente-titulos;
                margin: 0;

                span {
                    color: $color-cyan;
                }
            }
        }
        
    }
}

// -------------------------
//   PRESENTACIÓN
// -------------------------



// -------------------------
//   HTML y CSS
// -------------------------

