* {
    background-color: rgb(245, 237, 237);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// -------------------------
//   TUTULO HTML Y CSS
// -------------------------

.titulo_html_css {
    border: 1px dashed red;

    .titulo_container {
        border: 1px dashed blue;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}