@import "variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

// -------------------------
//   TUTULO HTML Y CSS
// -------------------------

.titulo_academia {
    // border: 1px dashed red;
    background-color: $color-gris-claro;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px;

    .titulo_container {
        // border: 1px dashed blue;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        figure {
            // border: 1px dashed yellow;
            margin: 0;
            height: 4rem;
            width: 4rem;

            img {
                width: 100%;
            }
        }
        
        div {
            // border: 1px dashed orange;
            margin-left: 20px;

            h1 {
                color: $color-gris-oscuro;
                font-family: $fuente-titulos;
                margin: 0;

                span {
                    color: $color-blanco;
                }
            }
        }
        
    }
}

// -------------------------
//   PRESENTACIÓN
// -------------------------

.presentacion {
    // border: 1px dashed yellow;
    height: auto;

    .presentacion_container {
        // border: 1px dashed blue;
        height: auto;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .presentacion_animacion {
            // border: 1px dashed wheat;
            margin: 0;
            padding: 0;
            
            .motor_animacion {
                // border: 1px solid blue;
                width: 200px;
                height: 200px;
            }
        }

        .presentacion_titulo {
            font-family: $fuente-parrafo;
            color: $color-gris-claro;
        }
    }
}

// -------------------------
//   HTML y CSS
// -------------------------

.lenguajes_fluid {
    // border: 1px dashed yellow;
    margin-top: 20px;
    height: 80px;

    .lenguajes_container {
        // border: 1px dashed orangered;
        height: 80px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .card_html {
            // border: 1px dashed blue;
            background-color: $color-gris-claro;
            border-radius: 5px;
            padding: 15px;
            width: 300px;
            height: 80px;

            -webkit-box-shadow: 10px 10px 11px -7px rgba(0,0,0,0.63);
            -moz-box-shadow: 10px 10px 11px -7px rgba(0,0,0,0.63);
            box-shadow: 10px 10px 11px -7px rgba(0,0,0,0.63);

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h3 {
                margin: 0;
                font-family: $fuente-subtitulos;
                color: $color-gris-oscuro;
            }

            img {
                width: auto;
                height: 100%;
            }
        }
    }
}



