// ----------------------------------
//     FUENTES
// ----------------------------------
$fuente-titulos: 'Anek Malayalam', sans-serif;
$fuente-parrafos: 'IBM Plex Mono', monospace;
$fuente-texto-destacado: 'Kdam Thmor Pro', sans-serif;


// ---------------------------------
//    PALETA DE COLORES
// ---------------------------------
$color-negro: #000000;
$color-gris-oscuro: #4c4c4c;
$color-gris-claro: #b8b8b8;
$color-azul-fondo: #0a192f;
$color-azul-titulo: #8892b0;
$color-cyan: #64ffda;
$color-blanco: #ffffff;
$color-amarillo: #FECB00;
