// ----------------------------------
//     FUENTES
// ----------------------------------
$fuente-titulos: 'Righteous', cursive;
$fuente-subtitulos: 'Righteous', cursive;
$fuente-parrafo: 'Josefin Sans', sans-serif;

// ---------------------------------
//    PALETA DE COLORES
// ---------------------------------
$color-negro: #000000;
$color-gris-oscuro: #4c4c4c;
$color-gris-claro: #b8b8b8;
$color-cyan: rgb(0, 217, 255);
$color-blanco: #ffffff;
$color-amarillo: #FECB00;