// ----------------------------------
//     FUENTES
// ----------------------------------
$fuente-titulos: 'Kanit', sans-serif;
$fuente-subtitulo: 'Anek Malayalam', sans-serif;
$fuente-parrafos: 'Comfortaa', cursive;


// ---------------------------------
//    PALETA DE COLORES
// ---------------------------------
$color-negro: #000000;
$color-gris-oscuro: #4c4c4c;
$color-gris-claro: #b8b8b8;
$color-azul-fondo: #0a192f;
$color-azul-tarjeta: #112240;
$color-azul-titulo: #8892b0;
$color-cyan: #64ffda;
$color-blanco: #ccd6f6;
$color-amarillo: #FECB00;
